body {
  background-color: #4f78ff;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
